/* Full-page background */
.login-page {
    margin: 0;
    height: 100vh;
    background: url("/content/images/back.jpeg") no-repeat center center/cover;
    font-family: Verdana;

    /* Flexbox centering */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login box */
.login-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 80px 100px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Links styling */
.login-link {
    display: block;
    background-color: #2b6cd1;
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
}

.login-link:hover {
    background-color: #1f4bb0;
}

/* HR styling */
hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

sub {
	font-size: 14px;
}